<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Inyeccion de dependencias</title>
</head>

<body>
<h1>Proyecto donde analizo inyeccion de dependencias, la idea es desacoplar y utilizar el contenedor de Spring, que el Servicio sea un componente de Spring</h1>
<h1>Principio de encapsulamiento, usar tipos genericos en lugar de inyectar por el tipo concreto, por interfaz(No dejar acoplado)</h1>
<h1>Que dependa de algo GENERICO es mucho mejor</h1>
<h1 th:text="${objeto}"></h1>


</body>
</html>